* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.col-mb-6 {
	@include respond-to(768) {
		width: 50%;
		float: left;
		position: relative;
	}
}
.pdb100 {
	@include respond-toSP(768) {
		padding-bottom: 100px;
	}
	@include respond-to(768) {
		padding-bottom: 50px;
	}
}
@-webkit-keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -3deg);
		transform: rotate3d(0, 0, 1, -3deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 2deg);
		transform: rotate3d(0, 0, 1, 2deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -2deg);
		transform: rotate3d(0, 0, 1, -2deg);
	}

	to {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

@keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -3deg);
		transform: rotate3d(0, 0, 1, -3deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 2deg);
		transform: rotate3d(0, 0, 1, 2deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -2deg);
		transform: rotate3d(0, 0, 1, -2deg);
	}

	to {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

.swing {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
	.animated {
		-webkit-animation: unset !important;
		animation: unset !important;
		-webkit-transition: none !important;
		transition: none !important;
	}
}

.clearfix {
	clear: both;
}
._border {
	border: 1px solid #bebebe;
}
%item {
	display: flex;
	justify-content: center;
	align-items: center;
}
%group-content {
	position: absolute;
	width: 50%;
	text-align: center;
	@include respond-to(768) {
		overflow: hidden;
	}
	h2 {
		@include respond-to(768) {
			font-size: 17px;
		}
		color: $main;
	}
	br {
		@include respond-to(768) {
			display: none;
		}
	}
	p {
		@include respond-to(768) {
			display: none;
		}
		color: #6e6e6e;
	}
	a {
		background: $main;
		color: $white;
		padding: 10px 20px;
		border-radius: 5px;
		margin-top: 20px;
		&:hover {
			text-decoration: none;
		}
	}
}
h2 {
	text-align: center;
	color: $text;
	font-size: 35px;
	text-transform: uppercase;
	@include respond-to(768) {
		font-size: 27px;
	}
	@include respond-toSP(1024) {
		margin-top: 70px;
		margin-bottom: 40px;
	}
}
.header {
	.col-md-9 {
		@include respond-to(768) {
			padding: 0 !important;
		}
	}
	box-shadow: 2px -1px 8px 0px;
	position: relative;
	z-index: 100;
	&__right .topnav {
		position: relative;

		ul {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		li {
			padding: 0 10px;
			list-style-type: none;
			position: relative;
			#to-cart {
				position: absolute;
				top: -5px;
				right: 5px;
				border-radius: 50%;

				color: #ffffff;
				font-size: 10px;
				font-weight: bold;
				text-align: center;

				padding: 2px;
				width: 15px;
				background: $main;
				transition: all 0.3s;

				cursor: pointer;
			}
			a {
				&:hover {
					text-decoration: none;
				}
				span {
					@include respond-to(768) {
						font-size: 17px;
					}
					font-size: 25px;
					color: #e02020;
					font-weight: 700;
				}
			}
		}
	}
	&__left {
		text-align: center;
	}
}

.menu-top {
	position: relative;
	align-items: center;
	clear: both;
	text-align: right;
	@include respond-to(767) {
		position: absolute;
		padding: 10px;
		left: -100%;
		border-radius: 5px;
		background: #bcd722;
	}
	li {
		display: inline;
		padding: 0 10px;
		list-style-type: none;

		font-size: 15px;
		font-weight: bold;

		@include respond-to(767) {
			display: block;
		}
	}
}
.btn-menu-mobie {
	position: relative;
	ul {
		position: absolute;
		top: 5px;
		right: 0;

		cursor: pointer;
		width: 25px;
		li {
			border-bottom: 2px solid $main;
			width: 25px;
			list-style-type: none;
			margin: 4px 0;

			transition: all ease 0.3s;
		}
	}
}
.mobi-active {
	position: relative;
	ul {
		position: absolute;
		top: 5px;
		right: 0;

		cursor: pointer;
		width: 25px;
		& li:nth-child(1) {
			position: absolute;
			transform: rotate(45deg);
		}
		& li:nth-child(2) {
			position: absolute;
			transform: rotate(-45deg);
		}
		& li:nth-child(3) {
			position: absolute;
			transform: rotate(-45deg);
		}
	}
}
.search__active {
	transition: all ease 0.3s;
	.search {
		overflow: inherit !important;
		transition: all ease 0.3s;
	}
	input {
		transition: all ease 0.3s;
		position: absolute !important;
		left: unset !important;
		right: 100%;
		z-index: 100;
	}
}
.navigation {
	@include respond-to(768) {
		padding: 10px 0;
	}
	#cssmenu {
		& > ul {
			float: right;
			@include respond-to(768) {
				margin-top: 50px;
			}
		}
		.active {
			position: relative;
			&::before {
				position: absolute;
				content: url(../images/icon/tree.png);
				top: -10px;
				left: 40%;
				@include respond-to(768) {
					content: "";
				}
			}
			&::after {
				content: url(../images/icon/Arrow-menu1);
				position: absolute;
				bottom: -16px;
				left: 40%;
				@include respond-to(768) {
					content: "";
				}
			}
			a {
				color: $main;
			}
		}
	}

	.search {
		cursor: pointer;
		overflow: hidden;
		transition: all ease 0.3s;

		position: relative;
		float: right;
		z-index: 1000;
		img {
			margin-top: 5px;
			padding: 0 17px;
		}

		input {
			transition: all ease 0.3s;
			outline: none;
			margin: 7px;
			padding: 3px;
			position: absolute;
			left: 100%;
			border-radius: 5px;
			border: 1px solid #cccc;
		}
		@include respond-to(767) {
			right: 0;

			input {
				margin: 5px;
				padding: 3px;
				font-size: 15px;
			}
		}
	}
}
#menu-button {
	position: absolute !important;
	left: 10px;
}
.ss-slide {
	.owl-carousel {
		.owl-prev {
			@include respond-to(768) {
				font-size: 70px !important;
				top: 20%;
			}
			button {
				outline: none;
			}
			position: absolute;
			top: 30%;
		}
		.owl-next {
			@include respond-to(768) {
				font-size: 70px !important;
				top: 20%;
			}
			button {
				outline: none;
			}
			position: absolute;
			top: 30%;
			right: 0;
		}

		.item {
			@extend %item;
		}

		.group-content {
			@extend %group-content;
		}
	}
}

.category {
	@include respond-toSP(1024) {
		margin-top: -60px;
	}
	display: flex;
	justify-content: space-between;
	&__image {
		width: 32%;
		z-index: 1000;
		@include respond-to(768) {
			width: 49%;
		}
		img {
			margin: 10px 0;
			z-index: 10;
			width: 100%;
			@include respond-to(768) {
				width: 100%;
			}
		}

		&:nth-child(2) {
			@include respond-to(768) {
				display: none;
			}
		}
	}
}
.ss-main-index {
	.col-mb-6 {
		margin-top: 30px;
		padding: 0;
		&:nth-child(4) .product__item::after,
		&:nth-child(8) .product__item::after {
			border-right: none;
		}
		.product__item {
			@include respond-toSP(1024) {
				&::after {
					content: "";
					border-right: 1px solid #d8d8d8;
					position: absolute;
					height: 100%;
					top: 0;
					right: 0;
				}
			}
		}
	}
}

.product {
	position: relative;
	cursor: pointer;
	display: block;

	._border .product__images {
		// @include respond-toSP(1024) {
		// 	height: 180px;
		// }
	}
	&__images {
		position: relative;
		z-index: -1;
		// @include respond-toSP(1024) {
		// 	height: 230px;
		// }

		&__details {
			position: absolute;
			top: 100%;
			width: 100%;
			height: 100%;
			background: rgba($main, 0.5);

			display: flex;
			justify-content: center;
			align-items: center;
			transition: all ease 0.3s;
			@include respond-to(1024) {
				display: none;
			}
		}
	}
	&__item {
		margin-top: 30px;
		position: relative;
		overflow: hidden;
		display: flex;
		min-height: 180px;
		justify-content: flex-end;
		flex-direction: column;

		// @include respond-to(1024) {
		// 	height: 240px;
		// }
		@include respond-to(400) {
			height: 170px;
		}

		&:hover .product__images__details {
			top: 0%;
			transition: all ease 0.5s;
		}
		a:hover img {
			margin-top: -10px;
			transition: all ease 0.3s;
		}
	}

	&__images img {
		width: 100%;
	}
	&__content {
		margin-bottom: 10px;
		text-align: center;
		h3 {
			font-weight: bold;
			font-size: 17px;
			margin: 0;
			padding: 0;

			a {
				color: $text;
				text-decoration: none;
			}
		}
		span {
			margin: 0 4px;
		}
		.price {
			font-size: 16px;
			color: $main;
			font-weight: bold;
		}
	}
}
.container_info {
	background: url(../images/background_info.png);
	.info {
		position: relative;
		margin-top: 100px;
		&__left {
			display: flex;
			justify-content: center;
			align-items: center;
			@include respond-toSP(768) {
				height: 580px;
			}

			&__content {
				@include respond-toSP(768) {
					width: 400px;
					margin: 20px 0;
				}
				p {
					font-size: 25px;
					color: $main;
					margin: 0;
					padding: 0;
				}
				h1 {
					text-transform: uppercase;
					margin-top: 0px;
					font-size: 35px;
					font-weight: bold;
					@include respond-to(758) {
						font-size: 25px;
					}
				}
				li {
					line-height: 24px;
					font-size: 15px;
					list-style-type: none;
					position: relative;

					margin-left: 80px;
					margin-bottom: 20px;
				}
				& li:nth-child(1)::before {
					content: url(../images/icon/Childinfo01.png);
					position: absolute;
					left: -80px;
					top: 0;
				}
				& li:nth-child(2)::before {
					content: url(../images/icon/Childinfo02.png);
					position: absolute;
					left: -80px;
					top: 0;
				}
				& li:nth-child(3)::before {
					content: url(../images/icon/Childinfo03.png);
					position: absolute;
					left: -80px;
					top: 0;
				}
			}
		}

		&__right {
			display: flex;
			position: relative;
			flex-wrap: wrap;
			span {
				&:nth-child(3) {
					margin-left: 80px;
				}
				&:nth-child(2) {
					position: absolute;
					top: 15%;
					right: 0;
				}
				img {
					@include respond-to(768) {
						display: none;
					}
				}
			}
		}
	}
}
.blog {
	@include respond-toSP(768) {
		padding-bottom: 100px;
	}
}
.image-banner {
	@include respond-to(768) {
		display: none;
	}
	img {
		@include respond-toSP(768) {
			margin-top: -50px;
		}
	}

	.item {
		@extend %item;
		img {
			width: 100%;
		}
	}
	.group-content {
		@extend %group-content;
		p {
			font-size: 25px;
			color: #ffffff;
			font-weight: 300;
			line-height: 30px;
			text-transform: none;
		}
		span {
			font-size: 15px;
			color: #ffffff;
		}
		.content {
			width: 450px;
			margin: 0 auto;
		}
	}
}
.discount {
	text-align: center;
	.item {
		padding: 30px 0;
		//border: 1px solid #cccc;
		.icon-discount {
			position: absolute;
			right: 10px;
			top: 5px;
			z-index: 100;
		}
		.product-slide {
			padding: 0 40px;
			height: 230px;
			overflow: hidden;
			align-items: center;
			display: flex;
			flex-direction: column-reverse;
			border: 1px solid #cccc;
		}
		a {
			text-decoration: none;
			color: #000;
		}
		&__content {
			.price {
				display: flex;
				margin-bottom: 10px;
				justify-content: center;
				align-items: center;
				span {
					margin: 0 4px;
				}
				&__item {
					font-size: 16px;
					color: #97da00;
					font-weight: bold;
				}
			}
		}
		&__images {
			img {
				text-align: center;
			}
		}
	}
	.item__content {
		position: relative;
		h3 {
			font-size: 17px;
			color: $text;
			font-weight: bold;
		}
	}
	.owl-carousel .owl-nav {
		@include respond-to(768) {
			display: none;
		}
		button.owl-prev {
			color: #979797;
			font-size: 60px;
			top: 30%;
			position: absolute;
			left: -30px;
		}
		button.owl-next {
			color: #979797;
			font-size: 60px;
			position: absolute;
			top: 30%;
			right: -30px;
		}
	}
}
.blog {
	img {
		width: 100%;
	}
	.content {
		position: relative;
		display: flex;
		.date {
			@include respond-to(768) {
				display: none;
			}
			text-align: center;
			position: absolute;
			top: 20px;
			left: 0;

			width: 65px;
			height: 65px;
			background: $main;
			padding: 5px;
			p {
				margin: 0;
				padding: 0;
			}
			&__number {
				font-size: 27px;
				font-weight: bold;
				color: $white;
			}
			&__string {
				font-size: 17px;
				color: $white;
				margin-top: -10px !important;
			}
		}
		.title {
			@include respond-to(768) {
				margin-left: 0;
			}
			margin-left: 90px;
			h3 {
				font-weight: bold;

				a {
					@include respond-to(768) {
						font-size: 15px;
					}
					font-size: 20px;
					color: $text;
					text-transform: none;
					transition: all 0.3s;

					text-decoration: none;
					&:hover {
						color: $main;
					}
				}
			}
			a {
				color: #c8c8c8;
				font-size: 14px;
				text-transform: uppercase;
			}
		}
	}
}
.ssfooter {
	border-top: 1px solid #c8c8c8;
	padding-top: 10px;
}
.footer {
	.logo {
		margin-bottom: 30px;
	}
	li {
		list-style-type: none;
		font-size: 15px;
		color: #6e6e6e;
		line-height: 22px;
		position: relative;
		margin-bottom: 10px;
		a {
			color: #6e6e6e;
		}
	}
	&__group1 {
		& li {
			margin-left: 50px;
		}
		& li:nth-child(1)::before {
			content: url(../images/icon/home.png);
			position: absolute;
			margin-left: -50px;
			top: 0;
		}
		& li:nth-child(2)::before {
			content: url(../images/icon/call.png);
			position: absolute;
			margin-left: -50px;
			top: 0;
		}
		& li:nth-child(3)::before {
			content: url(../images/icon/mail.png);
			position: absolute;
			margin-left: -50px;
			top: 0;
		}
	}
	&__group3 {
		h3 {
			margin: 0;
			text-transform: uppercase;

			color: $text;
			font-size: 17px;
			font-weight: bold;
			margin-left: 10px;
		}
		input,
		textarea,
		button {
			border: 1px solid #d8d8d8;
			padding-left: 10px;
			width: 45%;
			margin: 10px;
			height: 40px;
			color: #6e6e6e;
			outline: none;

			@include respond-to(768) {
				width: 100%;
			}
			&:not(button) {
				font-size: 15px;
				font-style: italic;
			}
		}
		textarea {
			padding-top: 9px;
		}
		&__2 {
			position: relative;
			button {
				width: 45.5%;
				position: absolute;
				background: $main;
				transition: all 0.3s;

				font-size: 17px;
				color: $white;
				font-weight: bold;
				text-transform: uppercase;
				&:hover {
					background: #abe131;
				}
			}
		}
	}
}
.footer2 {
	position: relative;
	padding: 10px 0;
	background: #f7f7f7;
	clear: both;
	width: 100%;
	float: left;
	margin-top: 20px;
	@include respond-to(768) {
		margin-top: 60px;
		padding: 20px 10px;
	}
	h4 {
		color: $main;
		line-height: 30px;
		font-size: 25px;
		margin: 0;
	}
	.socical {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		img {
			margin: 0 5px;
			&:hover {
				margin-top: -5px;
			}
		}
	}
}
.copy-right {
	width: 100%;
	clear: both;
	position: relative;
	text-align: center;
	color: $white;
	background: $text;
	padding: 5px;
}
.ss-product {
	position: relative;

	&__left {
		background: url(../images/background_product.png);
		background-repeat: no-repeat;
		background-position: left bottom;
	}
	&__right {
		background: url(../images/background_product2.png);
		background-repeat: no-repeat;
		background-position: right bottom;
	}
}
.banner-top {
	background-image: url(../images/banner/prodcut.png);
	background-position: center;
	@include respond-to(500) {
		background-position: left top;
	}
	background-repeat: no-repeat;
	height: 40vh;

	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 35px;
		font-weight: bold;
		color: $text;
		text-transform: uppercase;
	}
}
.breadcrumb {
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: none;
	li {
		position: relative;
		color: #6e6e6e;
		a {
			color: #6e6e6e;
			text-decoration: none;
		}
		&:nth-child(1) {
			margin-left: 25px;
			&::before {
				content: url(../images/icon/tree.png);
				position: absolute;
				left: -40px;
				top: -5px;
			}
		}
	}
}
.gfter {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	@include respond-to(500) {
		flex-direction: column;
	}

	&__filter,
	&__sort {
		position: relative;
		i {
			cursor: pointer;
		}
		span {
			font-weight: bold;
			font-size: 14px;
			color: $text;
			@include respond-toSP(768) {
				padding: 0 10px;
			}
		}
		& select {
			width: 150px;
			padding: 5px;
			border-radius: 5px;
		}
	}
	&__filter__option {
		margin-top: 20px;
		display: none;
		transition: all ease 0.3s;
		button {
			color: #ffffff;
			background: #97da00;
			padding: 3px 20px;
			font-size: 15px;
			border-radius: 2px;
			border: 1px solid #cccc;
			margin-left: 20px;
			text-transform: uppercase;
			font-weight: bold;
			outline: none;
			&:hover {
				background: #bcd722;
			}
		}
	}
	.blockFillter {
		transition: all ease 0.3s;
		display: block;
	}
}

.pagination_list {
	position: relative;
	width: 100%;
	ul {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		li {
			list-style-type: none;
			a {
				font-size: 16px;
				font-weight: bold;
				color: $text;
				text-decoration: none;

				padding: 5px 10px;
				border: 1px solid #c8c8c8;
				margin: 0 5px;
				&:hover {
					background: #c8c8c8;
				}
			}
		}
	}
}
.ss_product {
	&__banner {
		position: relative;
		margin-top: 70px;
		h2 {
			font-size: 25px;
			font-weight: 300;
			margin: 20px 0;
			text-transform: unset;
		}
		.item {
			@include respond-to(768) {
				display: none;
			}
			@extend %item;
			img {
				width: 100%;
			}
		}
		.group-content {
			@extend %group-content;
			.content {
				width: 450px;
				margin: 0 auto;
			}
		}
	}
}

.detail_footer {
	position: relative;
	clear: both;
	h2 {
		font-size: 30px;
		font-weight: 300;
		margin: 20px 0;
		text-transform: unset;
		color: #fa6400 !important;
	}
	.item {
		@include respond-to(768) {
			display: none;
		}
		@extend %item;
		img {
			width: 100%;
		}
	}
	.group-content {
		@extend %group-content;
		.content {
			width: 350px;
			margin: 0 auto;
		}
		a {
			font-weight: bold;
			background: white;
			color: black;
			text-transform: uppercase;
			font-size: 17px;
			padding: 10px 15px;
			border-radius: 0;
		}
	}
}

/* Style the tab */
.details-tab {
	position: relative;
	padding-top: 100px;
	@include respond-to(768px) {
		padding-top: 40px;
	}
	.tab {
		overflow: hidden;
		button {
			@include respond-toSP(450) {
				width: 50%;
			}
			@include respond-to(450) {
				font-size: 13px;
			}

			background-color: inherit;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			transition: 0.3s;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			border-bottom: 2px solid #d8d8d8;
			&.active {
				border-bottom: 2px solid $main;
			}
			&:nth-child(1) {
				border-right: 1px solid #d8d8d8;
			}
		}
	}
	.tabcontent {
		display: none;
		padding: 6px 12px;
		border-top: none;
		@include respond-toSP(1024) {
			padding: 50px 200px;
		}
	}
	#tab1 {
		display: block;
	}
}

.product-details {
	.col-md-6 {
		padding: 0;
		#zoom_03 {
			position: relative !important;
			width: 100% !important;
			height: auto;
			img {
				width: 100% !important;
			}
		}
		#gallery_01 {
			margin-top: 10px;
			display: flex;
			flex-wrap: wrap;
			@include respond-toSP(768) {
				display: flex;
				justify-content: space-between;
			}
			a {
				border: 1px solid #e6e6e6;
				padding: 10px;
				width: 100px;
				height: 85px;

				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 10px;
			}
		}
		.zoomWrapper {
			overflow: hidden;
			width: 100% !important;
			border: 1px solid #e6e6e6;
		}
	}
	&__content {
		position: relative;

		@include respond-toSP(768) {
			margin-left: 20px;
		}
		h1 {
			color: $text;
			font-size: 35px;
			font-weight: bold;

			margin-top: 0;
		}
		p {
			font-size: 15px;
			color: $text;
		}

		&__price {
			display: flex;
			align-items: center;

			& .discount-price {
				color: $main;
				font-size: 30px;
				font-weight: bold;
				margin: 20px 0;
				margin-right: 10px;
			}
			& .main-price {
				color: #c8c8c8;
				font-size: 20px;
				text-decoration: line-through;
			}
		}
		&__sumitem {
			display: flex;
			justify-items: center;
			align-items: center;
			button,
			input {
				border: none;
				border: 1px solid #c8c8c8;
				background: none;
				outline: none;

				height: 35px;
				text-align: center;
				font-size: 18px;
			}
			button {
				width: 35px;
			}
			input {
				width: 80px;
			}
		}
		&__buyCart {
			display: flex;
			justify-items: flex-start;
			align-items: center;
			margin-top: 20px;
			button {
				border: none;
				outline: none;
				text-transform: uppercase;

				color: white;
				font-size: 14px;
				font-weight: bold;

				background: $main;
				padding: 0 20px;
				margin-right: 10px;
				height: 40px;
			}
		}
	}
}

//animation
#green-rectangle {
	animation: green-rectangle-anim 40s infinite linear;
}

#grey-rounded-rectangle {
	animation: grey-rounded-rectangle-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes grey-rounded-rectangle-anim {
	65% {
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transform: translateY(-48px) rotate(-75deg);
	}
}

@keyframes green-rectangle-anim {
	100% {
		transform: rotate(360deg);
	}
}

#red-triangle {
	animation: red-triangle-anim 9.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes red-triangle-anim {
	50% {
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transform: translateY(25px) rotate(-53deg);
	}
}

#yellow-semicircle {
	animation: yellow-semicircle-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes yellow-semicircle-anim {
	40% {
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transform: translateY(40px) rotate(-1deg);
	}
}
