/*=========================================================*/
/*Thanh Tuan*/
/*=========================================================*/
/*========================================================*/
/*========================================================*/
/*========================================================*/
/*========================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 768px) {
  .col-mb-6 {
    width: 50%;
    float: left;
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .pdb100 {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .pdb100 {
    padding-bottom: 50px;
  }
}
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 2deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -2deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.swing {
  transform-origin: top center;
  animation-name: swing;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
  .animated {
    animation: unset !important;
    transition: none !important;
  }
}
.clearfix {
  clear: both;
}

._border {
  border: 1px solid #bebebe;
}

.detail_footer .item, .ss_product__banner .item, .image-banner .item, .ss-slide .owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail_footer .group-content, .ss_product__banner .group-content, .image-banner .group-content, .ss-slide .owl-carousel .group-content {
  position: absolute;
  width: 50%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .detail_footer .group-content, .ss_product__banner .group-content, .image-banner .group-content, .ss-slide .owl-carousel .group-content {
    overflow: hidden;
  }
}
.detail_footer .group-content h2, .ss_product__banner .group-content h2, .image-banner .group-content h2, .ss-slide .owl-carousel .group-content h2 {
  color: #97da00;
}
@media only screen and (max-width: 768px) {
  .detail_footer .group-content h2, .ss_product__banner .group-content h2, .image-banner .group-content h2, .ss-slide .owl-carousel .group-content h2 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 768px) {
  .detail_footer .group-content br, .ss_product__banner .group-content br, .image-banner .group-content br, .ss-slide .owl-carousel .group-content br {
    display: none;
  }
}
.detail_footer .group-content p, .ss_product__banner .group-content p, .image-banner .group-content p, .ss-slide .owl-carousel .group-content p {
  color: #6e6e6e;
}
@media only screen and (max-width: 768px) {
  .detail_footer .group-content p, .ss_product__banner .group-content p, .image-banner .group-content p, .ss-slide .owl-carousel .group-content p {
    display: none;
  }
}
.detail_footer .group-content a, .ss_product__banner .group-content a, .image-banner .group-content a, .ss-slide .owl-carousel .group-content a {
  background: #97da00;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.detail_footer .group-content a:hover, .ss_product__banner .group-content a:hover, .image-banner .group-content a:hover, .ss-slide .owl-carousel .group-content a:hover {
  text-decoration: none;
}

h2 {
  text-align: center;
  color: #373737;
  font-size: 35px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 27px;
  }
}
@media only screen and (min-width: 1024px) {
  h2 {
    margin-top: 70px;
    margin-bottom: 40px;
  }
}

.header {
  box-shadow: 2px -1px 8px 0px;
  position: relative;
  z-index: 100;
}
@media only screen and (max-width: 768px) {
  .header .col-md-9 {
    padding: 0 !important;
  }
}
.header__right .topnav {
  position: relative;
}
.header__right .topnav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__right .topnav li {
  padding: 0 10px;
  list-style-type: none;
  position: relative;
}
.header__right .topnav li #to-cart {
  position: absolute;
  top: -5px;
  right: 5px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  width: 15px;
  background: #97da00;
  transition: all 0.3s;
  cursor: pointer;
}
.header__right .topnav li a:hover {
  text-decoration: none;
}
.header__right .topnav li a span {
  font-size: 25px;
  color: #e02020;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .header__right .topnav li a span {
    font-size: 17px;
  }
}
.header__left {
  text-align: center;
}

.menu-top {
  position: relative;
  align-items: center;
  clear: both;
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .menu-top {
    position: absolute;
    padding: 10px;
    left: -100%;
    border-radius: 5px;
    background: #bcd722;
  }
}
.menu-top li {
  display: inline;
  padding: 0 10px;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .menu-top li {
    display: block;
  }
}

.btn-menu-mobie {
  position: relative;
}
.btn-menu-mobie ul {
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
  width: 25px;
}
.btn-menu-mobie ul li {
  border-bottom: 2px solid #97da00;
  width: 25px;
  list-style-type: none;
  margin: 4px 0;
  transition: all ease 0.3s;
}

.mobi-active {
  position: relative;
}
.mobi-active ul {
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
  width: 25px;
}
.mobi-active ul li:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}
.mobi-active ul li:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
}
.mobi-active ul li:nth-child(3) {
  position: absolute;
  transform: rotate(-45deg);
}

.search__active {
  transition: all ease 0.3s;
}
.search__active .search {
  overflow: inherit !important;
  transition: all ease 0.3s;
}
.search__active input {
  transition: all ease 0.3s;
  position: absolute !important;
  left: unset !important;
  right: 100%;
  z-index: 100;
}

@media only screen and (max-width: 768px) {
  .navigation {
    padding: 10px 0;
  }
}
.navigation #cssmenu > ul {
  float: right;
}
@media only screen and (max-width: 768px) {
  .navigation #cssmenu > ul {
    margin-top: 50px;
  }
}
.navigation #cssmenu .active {
  position: relative;
}
.navigation #cssmenu .active::before {
  position: absolute;
  content: url(../images/icon/tree.png);
  top: -10px;
  left: 40%;
}
@media only screen and (max-width: 768px) {
  .navigation #cssmenu .active::before {
    content: "";
  }
}
.navigation #cssmenu .active::after {
  content: url(../images/icon/Arrow-menu1);
  position: absolute;
  bottom: -16px;
  left: 40%;
}
@media only screen and (max-width: 768px) {
  .navigation #cssmenu .active::after {
    content: "";
  }
}
.navigation #cssmenu .active a {
  color: #97da00;
}
.navigation .search {
  cursor: pointer;
  overflow: hidden;
  transition: all ease 0.3s;
  position: relative;
  float: right;
  z-index: 1000;
}
.navigation .search img {
  margin-top: 5px;
  padding: 0 17px;
}
.navigation .search input {
  transition: all ease 0.3s;
  outline: none;
  margin: 7px;
  padding: 3px;
  position: absolute;
  left: 100%;
  border-radius: 5px;
  border: 1px solid #cccc;
}
@media only screen and (max-width: 767px) {
  .navigation .search {
    right: 0;
  }
  .navigation .search input {
    margin: 5px;
    padding: 3px;
    font-size: 15px;
  }
}

#menu-button {
  position: absolute !important;
  left: 10px;
}

.ss-slide .owl-carousel .owl-prev {
  position: absolute;
  top: 30%;
}
@media only screen and (max-width: 768px) {
  .ss-slide .owl-carousel .owl-prev {
    font-size: 70px !important;
    top: 20%;
  }
}
.ss-slide .owl-carousel .owl-prev button {
  outline: none;
}
.ss-slide .owl-carousel .owl-next {
  position: absolute;
  top: 30%;
  right: 0;
}
@media only screen and (max-width: 768px) {
  .ss-slide .owl-carousel .owl-next {
    font-size: 70px !important;
    top: 20%;
  }
}
.ss-slide .owl-carousel .owl-next button {
  outline: none;
}
.category {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  .category {
    margin-top: -60px;
  }
}
.category__image {
  width: 32%;
  z-index: 1000;
}
@media only screen and (max-width: 768px) {
  .category__image {
    width: 49%;
  }
}
.category__image img {
  margin: 10px 0;
  z-index: 10;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .category__image img {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .category__image:nth-child(2) {
    display: none;
  }
}

.ss-main-index .col-mb-6 {
  margin-top: 30px;
  padding: 0;
}
.ss-main-index .col-mb-6:nth-child(4) .product__item::after, .ss-main-index .col-mb-6:nth-child(8) .product__item::after {
  border-right: none;
}
@media only screen and (min-width: 1024px) {
  .ss-main-index .col-mb-6 .product__item::after {
    content: "";
    border-right: 1px solid #d8d8d8;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
  }
}

.product {
  position: relative;
  cursor: pointer;
  display: block;
}
.product__images {
  position: relative;
  z-index: -1;
}
.product__images__details {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background: rgba(151, 218, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
}
@media only screen and (max-width: 1024px) {
  .product__images__details {
    display: none;
  }
}
.product__item {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 180px;
  justify-content: flex-end;
  flex-direction: column;
}
@media only screen and (max-width: 400px) {
  .product__item {
    height: 170px;
  }
}
.product__item:hover .product__images__details {
  top: 0%;
  transition: all ease 0.5s;
}
.product__item a:hover img {
  margin-top: -10px;
  transition: all ease 0.3s;
}
.product__images img {
  width: 100%;
}
.product__content {
  margin-bottom: 10px;
  text-align: center;
}
.product__content h3 {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
  padding: 0;
}
.product__content h3 a {
  color: #373737;
  text-decoration: none;
}
.product__content span {
  margin: 0 4px;
}
.product__content .price {
  font-size: 16px;
  color: #97da00;
  font-weight: bold;
}

.container_info {
  background: url(../images/background_info.png);
}
.container_info .info {
  position: relative;
  margin-top: 100px;
}
.container_info .info__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .container_info .info__left {
    height: 580px;
  }
}
@media only screen and (min-width: 768px) {
  .container_info .info__left__content {
    width: 400px;
    margin: 20px 0;
  }
}
.container_info .info__left__content p {
  font-size: 25px;
  color: #97da00;
  margin: 0;
  padding: 0;
}
.container_info .info__left__content h1 {
  text-transform: uppercase;
  margin-top: 0px;
  font-size: 35px;
  font-weight: bold;
}
@media only screen and (max-width: 758px) {
  .container_info .info__left__content h1 {
    font-size: 25px;
  }
}
.container_info .info__left__content li {
  line-height: 24px;
  font-size: 15px;
  list-style-type: none;
  position: relative;
  margin-left: 80px;
  margin-bottom: 20px;
}
.container_info .info__left__content li:nth-child(1)::before {
  content: url(../images/icon/Childinfo01.png);
  position: absolute;
  left: -80px;
  top: 0;
}
.container_info .info__left__content li:nth-child(2)::before {
  content: url(../images/icon/Childinfo02.png);
  position: absolute;
  left: -80px;
  top: 0;
}
.container_info .info__left__content li:nth-child(3)::before {
  content: url(../images/icon/Childinfo03.png);
  position: absolute;
  left: -80px;
  top: 0;
}
.container_info .info__right {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.container_info .info__right span:nth-child(3) {
  margin-left: 80px;
}
.container_info .info__right span:nth-child(2) {
  position: absolute;
  top: 15%;
  right: 0;
}
@media only screen and (max-width: 768px) {
  .container_info .info__right span img {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .blog {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .image-banner {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .image-banner img {
    margin-top: -50px;
  }
}
.image-banner .item img {
  width: 100%;
}
.image-banner .group-content p {
  font-size: 25px;
  color: #ffffff;
  font-weight: 300;
  line-height: 30px;
  text-transform: none;
}
.image-banner .group-content span {
  font-size: 15px;
  color: #ffffff;
}
.image-banner .group-content .content {
  width: 450px;
  margin: 0 auto;
}

.discount {
  text-align: center;
}
.discount .item {
  padding: 30px 0;
}
.discount .item .icon-discount {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 100;
}
.discount .item .product-slide {
  padding: 0 40px;
  height: 230px;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #cccc;
}
.discount .item a {
  text-decoration: none;
  color: #000;
}
.discount .item__content .price {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.discount .item__content .price span {
  margin: 0 4px;
}
.discount .item__content .price__item {
  font-size: 16px;
  color: #97da00;
  font-weight: bold;
}
.discount .item__images img {
  text-align: center;
}
.discount .item__content {
  position: relative;
}
.discount .item__content h3 {
  font-size: 17px;
  color: #373737;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .discount .owl-carousel .owl-nav {
    display: none;
  }
}
.discount .owl-carousel .owl-nav button.owl-prev {
  color: #979797;
  font-size: 60px;
  top: 30%;
  position: absolute;
  left: -30px;
}
.discount .owl-carousel .owl-nav button.owl-next {
  color: #979797;
  font-size: 60px;
  position: absolute;
  top: 30%;
  right: -30px;
}

.blog img {
  width: 100%;
}
.blog .content {
  position: relative;
  display: flex;
}
.blog .content .date {
  text-align: center;
  position: absolute;
  top: 20px;
  left: 0;
  width: 65px;
  height: 65px;
  background: #97da00;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .blog .content .date {
    display: none;
  }
}
.blog .content .date p {
  margin: 0;
  padding: 0;
}
.blog .content .date__number {
  font-size: 27px;
  font-weight: bold;
  color: #ffffff;
}
.blog .content .date__string {
  font-size: 17px;
  color: #ffffff;
  margin-top: -10px !important;
}
.blog .content .title {
  margin-left: 90px;
}
@media only screen and (max-width: 768px) {
  .blog .content .title {
    margin-left: 0;
  }
}
.blog .content .title h3 {
  font-weight: bold;
}
.blog .content .title h3 a {
  font-size: 20px;
  color: #373737;
  text-transform: none;
  transition: all 0.3s;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .blog .content .title h3 a {
    font-size: 15px;
  }
}
.blog .content .title h3 a:hover {
  color: #97da00;
}
.blog .content .title a {
  color: #c8c8c8;
  font-size: 14px;
  text-transform: uppercase;
}

.ssfooter {
  border-top: 1px solid #c8c8c8;
  padding-top: 10px;
}

.footer .logo {
  margin-bottom: 30px;
}
.footer li {
  list-style-type: none;
  font-size: 15px;
  color: #6e6e6e;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}
.footer li a {
  color: #6e6e6e;
}
.footer__group1 li {
  margin-left: 50px;
}
.footer__group1 li:nth-child(1)::before {
  content: url(../images/icon/home.png);
  position: absolute;
  margin-left: -50px;
  top: 0;
}
.footer__group1 li:nth-child(2)::before {
  content: url(../images/icon/call.png);
  position: absolute;
  margin-left: -50px;
  top: 0;
}
.footer__group1 li:nth-child(3)::before {
  content: url(../images/icon/mail.png);
  position: absolute;
  margin-left: -50px;
  top: 0;
}
.footer__group3 h3 {
  margin: 0;
  text-transform: uppercase;
  color: #373737;
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}
.footer__group3 input,
.footer__group3 textarea,
.footer__group3 button {
  border: 1px solid #d8d8d8;
  padding-left: 10px;
  width: 45%;
  margin: 10px;
  height: 40px;
  color: #6e6e6e;
  outline: none;
}
@media only screen and (max-width: 768px) {
  .footer__group3 input,
.footer__group3 textarea,
.footer__group3 button {
    width: 100%;
  }
}
.footer__group3 input:not(button),
.footer__group3 textarea:not(button),
.footer__group3 button:not(button) {
  font-size: 15px;
  font-style: italic;
}
.footer__group3 textarea {
  padding-top: 9px;
}
.footer__group3__2 {
  position: relative;
}
.footer__group3__2 button {
  width: 45.5%;
  position: absolute;
  background: #97da00;
  transition: all 0.3s;
  font-size: 17px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
.footer__group3__2 button:hover {
  background: #abe131;
}

.footer2 {
  position: relative;
  padding: 10px 0;
  background: #f7f7f7;
  clear: both;
  width: 100%;
  float: left;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .footer2 {
    margin-top: 60px;
    padding: 20px 10px;
  }
}
.footer2 h4 {
  color: #97da00;
  line-height: 30px;
  font-size: 25px;
  margin: 0;
}
.footer2 .socical {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer2 .socical img {
  margin: 0 5px;
}
.footer2 .socical img:hover {
  margin-top: -5px;
}

.copy-right {
  width: 100%;
  clear: both;
  position: relative;
  text-align: center;
  color: #ffffff;
  background: #373737;
  padding: 5px;
}

.ss-product {
  position: relative;
}
.ss-product__left {
  background: url(../images/background_product.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.ss-product__right {
  background: url(../images/background_product2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.banner-top {
  background-image: url(../images/banner/prodcut.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  .banner-top {
    background-position: left top;
  }
}
.banner-top h1 {
  font-size: 35px;
  font-weight: bold;
  color: #373737;
  text-transform: uppercase;
}

.breadcrumb {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
}
.breadcrumb li {
  position: relative;
  color: #6e6e6e;
}
.breadcrumb li a {
  color: #6e6e6e;
  text-decoration: none;
}
.breadcrumb li:nth-child(1) {
  margin-left: 25px;
}
.breadcrumb li:nth-child(1)::before {
  content: url(../images/icon/tree.png);
  position: absolute;
  left: -40px;
  top: -5px;
}

.gfter {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
@media only screen and (max-width: 500px) {
  .gfter {
    flex-direction: column;
  }
}
.gfter__filter, .gfter__sort {
  position: relative;
}
.gfter__filter i, .gfter__sort i {
  cursor: pointer;
}
.gfter__filter span, .gfter__sort span {
  font-weight: bold;
  font-size: 14px;
  color: #373737;
}
@media only screen and (min-width: 768px) {
  .gfter__filter span, .gfter__sort span {
    padding: 0 10px;
  }
}
.gfter__filter select, .gfter__sort select {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
}
.gfter__filter__option {
  margin-top: 20px;
  display: none;
  transition: all ease 0.3s;
}
.gfter__filter__option button {
  color: #ffffff;
  background: #97da00;
  padding: 3px 20px;
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid #cccc;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
}
.gfter__filter__option button:hover {
  background: #bcd722;
}
.gfter .blockFillter {
  transition: all ease 0.3s;
  display: block;
}

.pagination_list {
  position: relative;
  width: 100%;
}
.pagination_list ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.pagination_list ul li {
  list-style-type: none;
}
.pagination_list ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #373737;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #c8c8c8;
  margin: 0 5px;
}
.pagination_list ul li a:hover {
  background: #c8c8c8;
}

.ss_product__banner {
  position: relative;
  margin-top: 70px;
}
.ss_product__banner h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 20px 0;
  text-transform: unset;
}
@media only screen and (max-width: 768px) {
  .ss_product__banner .item {
    display: none;
  }
}
.ss_product__banner .item img {
  width: 100%;
}
.ss_product__banner .group-content .content {
  width: 450px;
  margin: 0 auto;
}

.detail_footer {
  position: relative;
  clear: both;
}
.detail_footer h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 20px 0;
  text-transform: unset;
  color: #fa6400 !important;
}
@media only screen and (max-width: 768px) {
  .detail_footer .item {
    display: none;
  }
}
.detail_footer .item img {
  width: 100%;
}
.detail_footer .group-content .content {
  width: 350px;
  margin: 0 auto;
}
.detail_footer .group-content a {
  font-weight: bold;
  background: white;
  color: black;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 0;
}

/* Style the tab */
.details-tab {
  position: relative;
  padding-top: 100px;
}
@media only screen and (max-width: 768pxpx) {
  .details-tab {
    padding-top: 40px;
  }
}
.details-tab .tab {
  overflow: hidden;
}
.details-tab .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #d8d8d8;
}
@media only screen and (min-width: 450px) {
  .details-tab .tab button {
    width: 50%;
  }
}
@media only screen and (max-width: 450px) {
  .details-tab .tab button {
    font-size: 13px;
  }
}
.details-tab .tab button.active {
  border-bottom: 2px solid #97da00;
}
.details-tab .tab button:nth-child(1) {
  border-right: 1px solid #d8d8d8;
}
.details-tab .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
@media only screen and (min-width: 1024px) {
  .details-tab .tabcontent {
    padding: 50px 200px;
  }
}
.details-tab #tab1 {
  display: block;
}

.product-details .col-md-6 {
  padding: 0;
}
.product-details .col-md-6 #zoom_03 {
  position: relative !important;
  width: 100% !important;
  height: auto;
}
.product-details .col-md-6 #zoom_03 img {
  width: 100% !important;
}
.product-details .col-md-6 #gallery_01 {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .product-details .col-md-6 #gallery_01 {
    display: flex;
    justify-content: space-between;
  }
}
.product-details .col-md-6 #gallery_01 a {
  border: 1px solid #e6e6e6;
  padding: 10px;
  width: 100px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.product-details .col-md-6 .zoomWrapper {
  overflow: hidden;
  width: 100% !important;
  border: 1px solid #e6e6e6;
}
.product-details__content {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .product-details__content {
    margin-left: 20px;
  }
}
.product-details__content h1 {
  color: #373737;
  font-size: 35px;
  font-weight: bold;
  margin-top: 0;
}
.product-details__content p {
  font-size: 15px;
  color: #373737;
}
.product-details__content__price {
  display: flex;
  align-items: center;
}
.product-details__content__price .discount-price {
  color: #97da00;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
  margin-right: 10px;
}
.product-details__content__price .main-price {
  color: #c8c8c8;
  font-size: 20px;
  text-decoration: line-through;
}
.product-details__content__sumitem {
  display: flex;
  justify-items: center;
  align-items: center;
}
.product-details__content__sumitem button,
.product-details__content__sumitem input {
  border: none;
  border: 1px solid #c8c8c8;
  background: none;
  outline: none;
  height: 35px;
  text-align: center;
  font-size: 18px;
}
.product-details__content__sumitem button {
  width: 35px;
}
.product-details__content__sumitem input {
  width: 80px;
}
.product-details__content__buyCart {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  margin-top: 20px;
}
.product-details__content__buyCart button {
  border: none;
  outline: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background: #97da00;
  padding: 0 20px;
  margin-right: 10px;
  height: 40px;
}

#green-rectangle {
  animation: green-rectangle-anim 40s infinite linear;
}

#grey-rounded-rectangle {
  animation: grey-rounded-rectangle-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes grey-rounded-rectangle-anim {
  65% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-48px) rotate(-75deg);
  }
}
@keyframes green-rectangle-anim {
  100% {
    transform: rotate(360deg);
  }
}
#red-triangle {
  animation: red-triangle-anim 9.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes red-triangle-anim {
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(25px) rotate(-53deg);
  }
}
#yellow-semicircle {
  animation: yellow-semicircle-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes yellow-semicircle-anim {
  40% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(40px) rotate(-1deg);
  }
}
/*=========================================================*/